<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611578379668-mqbpm4e1844at7111ie6bhohapgr99bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611578379668-mqbpm4e1844at7111ie6bhohapgr99bm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611578379668-ffjq2jk8hbo40ivs7kv3jstkl0a54ktc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd-1SsB_DVzp2a7cwBKcA7K_-hul0zygE</string>
	<key>GCM_SENDER_ID</key>
	<string>611578379668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elriady.elriady</string>
	<key>PROJECT_ID</key>
	<string>elriady-842f6</string>
	<key>STORAGE_BUCKET</key>
	<string>elriady-842f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611578379668:ios:b2ddc36a8a442c71df2381</string>
</dict>
</plist>